<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.board.mapper.BoardMapper">
<select id="getLists" resultType="kr.board.entity.Board">
	select * from myboard order by id DESC
</select>

<insert id="boardInsert" parameterType="kr.board.entity.Board">
	insert into myboard(title, content, writer) 
	values (#{title} , #{content}, #{writer}) 
</insert>

<select id="boardContent" resultType="kr.board.entity.Board">
	select * from myboard where id=#{id}
</select>

<delete id="boardDelete" parameterType="int">
	delete from myboard where id=#{id}
</delete>

<update id="boardUpdate" parameterType="kr.board.entity.Board">
	update myboard set title=#{title} , content=#{content} 
	where id=#{id}
</update>

</mapper>

