<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.board.mapper.MemberMapper">
    <select id="registerCheck" resultType="kr.board.entity.Member">
        select * from mem_tb1 where mem_userid = #{memUserid}
    </select>
    <insert id="register" parameterType="kr.board.entity.Member">
        insert into 
        mem_tb1(mem_userid, mem_password, mem_name, mem_age, mem_gender, mem_email, mem_profile) 
        values (#{memUserid}, #{memPassword}, #{memName}, #{memAge}, #{memGender}, #{memEmail}, #{memProfile})
    </insert>
    <resultMap id="MemberResultMap" type="kr.board.entity.Member">
    <result property="memId" column="mem_id"/>
    <result property="memUserid" column="mem_userid"/>
    <result property="memPassword" column="mem_password"/>
    <result property="memName" column="mem_name"/>
    <result property="memAge" column="mem_age"/>
    <result property="memGender" column="mem_gender"/>
    <result property="memEmail" column="mem_email"/>
    <result property="memProfile" column="mem_profile"/>
	</resultMap>
    <select id="memberLogin" parameterType="kr.board.entity.Member" resultMap="MemberResultMap">
  		 select * from mem_tb1 where mem_userid = #{memUserid} and mem_password = #{memPassword}
    </select>
    
    <update id="memUpdate" parameterType="kr.board.entity.Member">
    update mem_tb1 set mem_Password=#{memPassword} , memName = #{memName} 
    		,mem_age = #{memAge} , mem_Gender = #{memGender} , mem_email = #{memEmail}
    		where mem_userid = #{memUserid} 
    </update>
    
    <select id = "getMember" resultType="kr.board.entity.Member">
    	select * from mem_tb1 where memId = #{memId}
    </select>
    
    <update id="memProfileUpate" parameterType="kr.board.entity.Member">
     update mem_tb1 set memProfile=#{memProfile} where mem_userid=#{memUserid};
    </update>
</mapper>